#main-head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px 30px;
    background-color: rgb(42, 165, 159);
    color: azure;
    height: 5rem;
   
}
#main-head ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: azure;
    padding: 0%;
    margin: 0%;
    
  
    height: 4rem;
   
    
   
    
}
#mall {
    padding: 20px;
    color:azure;
    font-family:serif;
    font-size: 2rem;
     
}
#main-head ul li {
    margin: 0 2rem 1rem 2rem;
    padding:2px ;
}
#main-head ul li a {
    color:azure;
    font-family: serif;
    font-size: 1.5rem;
    padding: 20px 5px;
    
}
a {
    text-decoration: none;
}
#main-head img {
    border-radius:100px;
    height: 100px;
    width: 100px;
    align-items: center;
    display: flex;
    justify-items: center;
    
}
.place img {
    height: 15rem;
    width: 15rem;
    border-radius: 5rem;
}

#one {
    text-align: center;
    color: rgb(140, 54, 17);
    background-color: burlywood;
    padding: 1rem;
}
#shop ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#shop {
    background-color: rgb(172, 193, 191);
}

